{% extends 'base.html' %}

{% block title %} Post from {{post.user.get_full_name() }} {% endblock %}

{% block content %}

<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p> {{post.content}} </p>
      <em>By {{post.user.get_full_name()}}</em>
      <a href="/users/{{post.user.id}}" class="btn btn-outline-primary">Cancel</a>
      <a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>
      <form action="/posts/{{post.id}}/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>

{% endblock %}